<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>스파르타코딩클럽 | 부트스트랩 연습하기</title>

    <meta property="og:title" content="원페이지 쇼핑몰" />
    <meta property="og:description" content="맥북 급처" />
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.jpeg') }}" />

    <style>
        * {
            font-family: 'Nanum Pen Script', cursive;
        }

        .container {
            width: 600px;
            margin: 0 auto;
        }

        .container img {
            width: 100%;
        }

        .img-cont {
            margin-bottom: 30px;
        }

        .title {
            font-size: 36px;
            font-weight: bold;
        }

        .price {
            font-size: 16px;
        }

        .desc-cont {
            margin-bottom: 30px;
        }

        .order-btn {
            margin: 0 auto;
            display: block;
        }

        .blue {
            color: blue;
        }

        .orders {
            margin-top: 100px;
            text-align: center;
        }
    </style>

    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "https://api.manana.kr/exchange/rate.json",
                data: {},
                success: function (response) {
                    $('.desc-cont').append(`<div class="blue">달러-원 환율 : ${response[1].rate}</div>`)
                }
            })

            showOrders();
        });

        function order() {
            let name = $('#name').val()
            let count = $('#count').val()
            let address = $('#address').val()
            let phone = $('#phone').val()

            $.ajax({
                type: "POST",
                url: "/order",
                data: {name_give: name, count_give: count, address_give: address, phone_give: phone},
                success: function (response) {
                    alert(response["msg"]);
                    window.location.reload();
                }
            })
        }

        function showOrders() {
            $.ajax({
                type: "GET",
                url: "/order",
                data: {},
                success: function (response) {
                    let all_orders = (response["all_orders"]);

                    for (let i = 0; i < all_orders.length; i++) {
                        let name = all_orders[i]["name"]
                        let count = all_orders[i]["count"]
                        let address = all_orders[i]["address"]
                        let phone = all_orders[i]["phone"]

                        let temp_html = `<tr>
                                        <td>${name}</td>
                                        <td>${count}</td>
                                        <td>${address}</td>
                                        <td>${phone}</td>
                                    </tr>`

                        $('#orders-box').append(temp_html)
                    }
                }
            })
        }
    </script>
</head>

<body>
<div class="container">
    <div class="img-cont">
        <img src="https://images.kbench.com/kbench/article/2019_04/k197903p1n1-s.jpg"/>
    </div>

    <div class="desc-cont">
        <div>
            <span class="title">맥북 팝니다</span>
            <span class="price">가격: 1,000원</span>
        </div>
        <div class="desc">맥북 급처합니다 천원이 급합니다.</div>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">주문자 이름</span>
        </div>
        <input type="text" class="form-control" aria-label="Username"
               aria-describedby="basic-addon1" id="name">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">수량</label>
        </div>
        <select class="custom-select" id="count">
            <option selected>-- 수량을 선택하세요 --</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">주소</span>
        </div>
        <input type="text" class="form-control" aria-label="Username"
               aria-describedby="basic-addon1" id="address">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">전화번호</span>
        </div>
        <input type="text" class="form-control" aria-label="Username"
               aria-describedby="basic-addon1" id="phone">
    </div>

    <button onclick="order()" type="button" class="btn btn-primary order-btn">주문하기</button>

    <div class="orders">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">이름</th>
                <th scope="col">개수</th>
                <th scope="col">주소</th>
                <th scope="col">전화번호</th>
            </tr>
            </thead>
            <tbody id="orders-box">
            </tbody>
        </table>
    </div>
</div>
</body>

</html>